<div class="card">
  <h1 class="title">Logon to Zidium</h1>

  <form class="fields" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ui-kit-input-field
      formControlName="email"
      label="Login"
      type="text"
    />

    <ui-kit-input-field
      formControlName="password"
      label="Password"
      type="password"
    />

    @if (loginError(); as error) {
      <p class="error">{{ error }}</p>
    }

    <div class="action">
      <ui-kit-button variant="primary" type="submit">Logon</ui-kit-button>
    </div>
  </form>
</div>
