<nav class="nav">
  <div class="top">
    <button class="item toggle" type="button" aria-label="Toggle menu">
      <ui-kit-icon name="menu-open" [size]="20" />
    </button>
  </div>

  <div class="links">
    <a
      class="item"
      routerLink="/categories"
      routerLinkActive="item--active"
      aria-label="Categories"
    >
      <ui-kit-icon name="settings" [size]="20" />
    </a>
  </div>

  <div class="bottom">
    <button class="item" type="button" aria-label="Account">
      <ui-kit-icon name="account-circle" [size]="20" />
    </button>

    <button class="item" type="button" aria-label="Logout" (click)="onLogout()">
      <ui-kit-icon name="logout" [size]="20" />
    </button>
  </div>
</nav>
